In [20]:
import pandas as pd
import numpy as np
import os

In [21]:
dirname = 'C:/Users/Big data/Desktop/Tibame_tool_Data'

In [22]:
f_list = os.path.join(dirname,'Item_ListName')
IM = pd.read_csv(f_list)
IM.head()

    ITEM            List_Name  Cost_Self
0  11001     FIRSTRGST初診掛號手續費      150.0
1  11002   REGISTERFEE複診掛號手續費      100.0
2  11003     EMGRGST急診初診掛號手續費      250.0
3  11004  EMGRGSTFEE急診複診掛號手續費      250.0
4  11007           精神科強制鑑定掛號費      100.0

In [29]:
IM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5663 entries, 0 to 5662
Data columns (total 3 columns):
ITEM         5663 non-null object
List_Name    5659 non-null object
Cost_Self    5650 non-null float64
dtypes: float64(1), object(2)
memory usage: 132.8+ KB

In [24]:
#保留
IM_alpha = IM

In [26]:
print(IM[IM['Cost_Self'].isnull()].shape)
IM[IM['Cost_Self'].isnull()]

(13, 3)

,ITEM,List_Name,Cost_Self
1034,41994,ENTLOCALTREATMENT-WOUNDTREATMENTANDCHANGEDRESS...,NaN
2149,ThoracoscopicEsophagomyotomy,NaN,NaN
2151,胸腔鏡食道肌肉切開術(註：Hellertype為限),NaN,NaN
2368,4375811,EXCISIONOFRETROPERITONEALMALIGNANTWITHRETROPER...,NaN
2483,4378039,CystoprostatectomywithoutPLNDwithouturethrecto...,NaN
2653,4380605B-1ENDTOENDANASTOMOSISUNILATERAL,11992,NaN
2658,4380607B-1輸卵管補植術Reimplantationwithmicroscopicu...,7590,NaN
3300,48818,SEMI-OPENEDORSEMI-CLOSEDMASKINHALATIONGENERALA...,NaN
3510,49322,SPECIALTREATMENTOFEXTRACTIONWOUND拔牙後特別處理 註：包括附...,NaN
3532,49356,SEQUESTRECTOMY:COMPLICATEDCASEMORETHAN1/3ARCH腐...,NaN
4458,MTXTHERAPEUTICDURGMONITOR,NaN,NaN
4459,66066,1600,NaN
4460,滅殺除癌血中濃度監測,NaN,NaN

In [42]:
IM = IM[~IM['Cost_Self'].isnull()]

In [43]:
IM.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5650 entries, 0 to 5662
Data columns (total 3 columns):
ITEM         5650 non-null object
List_Name    5650 non-null object
Cost_Self    5650 non-null float64
dtypes: float64(1), object(2)
memory usage: 176.6+ KB

In [44]:
IM.to_csv('Item_final',sep=',')

In [45]:
pwd

'C:\\Users\\Big data\\iii_report_HospitalStudy'