In [1]:
import pandas as pd
import os
from datetime import datetime,datetime,time,timedelta

In [12]:
dirname = 'C:/Users/Big data/Desktop/Tool'

f_tool = os.path.join(dirname,'SummaryData.xlsx')

In [14]:
Tool = pd.read_excel(f_tool)

In [18]:
Tool.columns

Index(['PNO', 'CDATE', 'ITEM', 'SEQNO', 'BDATE', 'EDATE', 'ORDERDR', 'AMOUNT',
       'SEX', 'AGE', 'Tool ID'],
      dtype='object')

In [22]:
Tool.shape

(86238, 11)

In [19]:
import csv
Tool.to_csv('Tool_summary',columns=['PNO', 'CDATE', 'ITEM', 'SEQNO', 'BDATE', 'EDATE', 'ORDERDR', 'AMOUNT',
       'SEX', 'AGE', 'Tool ID'],index=False)

In [20]:
pwd

'C:\\Users\\Big data'

In [23]:
f_Drmrege=os.path.join(dirname,'doctor_Merge_mod01.xlsx')

In [25]:
Dr_merge = pd.read_excel(f_Drmrege)

In [26]:
Dr_merge.head()

  醫師姓名  醫師編號   備註             科別
0  李淳權  5957  NaN  內分泌暨新陳代謝科(12)
1  廖偉丞  5147  NaN  內分泌暨新陳代謝科(12)
2  梁清香  5969  NaN  內分泌暨新陳代謝科(12)
3  簡銘男  5951  NaN  內分泌暨新陳代謝科(12)
4  莊世旻  6472  NaN  內分泌暨新陳代謝科(12)

In [27]:
Dr_merge.shape

(783, 4)

In [28]:
Dr_merge.columns

Index(['醫師姓名', '醫師編號', '備註', '科別'], dtype='object')

In [33]:
Dr_merge = Dr_merge.rename(columns={'醫生姓名':'Dr_Name','醫師編號':'ORDERDR','備註':'Remarked','科別':'Department'})
Dr_merge.head()

  醫師姓名 ORDERDR Remarked     Department
0  李淳權    5957      NaN  內分泌暨新陳代謝科(12)
1  廖偉丞    5147      NaN  內分泌暨新陳代謝科(12)
2  梁清香    5969      NaN  內分泌暨新陳代謝科(12)
3  簡銘男    5951      NaN  內分泌暨新陳代謝科(12)
4  莊世旻    6472      NaN  內分泌暨新陳代謝科(12)

In [35]:
Dr_merge = Dr_merge.rename(columns={'醫師姓名':'Dr_Name'})
Dr_merge.head()

  Dr_Name ORDERDR Remarked     Department
0     李淳權    5957      NaN  內分泌暨新陳代謝科(12)
1     廖偉丞    5147      NaN  內分泌暨新陳代謝科(12)
2     梁清香    5969      NaN  內分泌暨新陳代謝科(12)
3     簡銘男    5951      NaN  內分泌暨新陳代謝科(12)
4     莊世旻    6472      NaN  內分泌暨新陳代謝科(12)

In [37]:
Dr_merge.columns

Index(['Dr_Name', 'ORDERDR', 'Remarked', 'Department'], dtype='object')

In [36]:
Dr_merge.shape

(783, 4)

In [38]:
Dr_merge.to_csv('Doctor_merge_ORDERDR_Department',columns=['Dr_Name', 'ORDERDR', 'Remarked', 'Department'],index=False)

In [39]:
f_Item = os.path.join(dirname,'cbu84-jywqi.csv')

In [42]:
Item_list = pd.read_csv(f_Item)
Item_list.head()

    馬偕代碼                 項目名稱    自費價
0  11001     FIRSTRGST初診掛號手續費  150.0
1  11002   REGISTERFEE複診掛號手續費  100.0
2  11003     EMGRGST急診初診掛號手續費  250.0
3  11004  EMGRGSTFEE急診複診掛號手續費  250.0
4  11007           精神科強制鑑定掛號費  100.0

In [44]:
Item_list.shape

(5663, 3)

In [53]:
Item_list = Item_list.rename(columns={'馬偕代碼':'ITEM','項目名稱':'List_Name','Cost_self':'Cost_Self'})
Item_list.head()

    ITEM            List_Name  Cost_Self
0  11001     FIRSTRGST初診掛號手續費      150.0
1  11002   REGISTERFEE複診掛號手續費      100.0
2  11003     EMGRGST急診初診掛號手續費      250.0
3  11004  EMGRGSTFEE急診複診掛號手續費      250.0
4  11007           精神科強制鑑定掛號費      100.0

In [55]:
Item_list.columns

Index(['ITEM', 'List_Name', 'Cost_Self'], dtype='object')

In [54]:
Item_list.shape

(5663, 3)

In [56]:
Item_list.to_csv('Item_ListName',columns=['ITEM', 'List_Name', 'Cost_Self'],index=False)

In [1]:
pwd

'C:\\Users\\Big data'