In [55]:
import pandas as pd
import os
from datetime import datetime

In [3]:
dirname = 'C:/Users/Big data/Desktop/Tool'
f_TS = os.path.join(dirname,'Tool_summary')

In [4]:
TS = pd.read_csv(f_TS)

In [33]:
TS.head()

,PNO,CDATE,ITEM,SEQNO,BDATE,EDATE,ORDERDR,AMOUNT,SEX,AGE,Tool ID
0,30228811,2017-10-02,79993,1060351497,2017/10/2下午03:48:00,2017/10/2下午04:21:26,4312,5035.0,F,47,105216
1,43524029,2017-10-02,79993,1060350477,2017/10/2早上 09:27:00,2017/10/2早上 09:49:47,4035,5035.0,M,65,105216
2,34436618,2017-10-02,79993,1060350704,2017/10/2早上 10:50:00,2017/10/2早上 11:24:41,4764,5035.0,M,61,105216
3,5717906,2017-10-02,79993,1060350602,2017/10/2早上 10:11:00,2017/10/2早上 11:00:47,5936,5035.0,M,83,105216
4,9556173,2017-10-02,79993,1060350598,2017/10/2早上 10:10:00,2017/10/2早上 11:07:17,4417,5035.0,F,58,105216

In [6]:
TS.columns

Index(['PNO', 'CDATE', 'ITEM', 'SEQNO', 'BDATE', 'EDATE', 'ORDERDR', 'AMOUNT',
       'SEX', 'AGE', 'Tool ID'],
      dtype='object')

In [9]:
type(TS['CDATE'])

pandas.core.series.Series

In [13]:
TSmod = TS['BDATE'].str.replace('早上 ', ' AM')

In [14]:
TSmod = TSmod.str.replace('AM',' AM ')

In [15]:
TSmod.head()

0       2017/10/2下午03:48:00
1    2017/10/2  AM 09:27:00
2    2017/10/2  AM 10:50:00
3    2017/10/2  AM 10:11:00
4    2017/10/2  AM 10:10:00
Name: BDATE, dtype: object

In [16]:
TSmod = TSmod.str.replace('下午','PM')

In [18]:
TSmod = TSmod.str.replace('PM',' PM ')

In [19]:
TSmod

0         2017/10/2 PM 03:48:00
1        2017/10/2  AM 09:27:00
2        2017/10/2  AM 10:50:00
3        2017/10/2  AM 10:11:00
4        2017/10/2  AM 10:10:00
5         2017/10/2 PM 03:10:00
6         2017/10/2 PM 02:49:00
7        2017/10/2  AM 11:00:00
8         2017/10/2 PM 04:17:00
9         2017/10/2 PM 03:56:00
10        2017/10/2 PM 03:21:00
11       2017/10/2  AM 08:45:00
12       2017/10/2  AM 08:44:00
13       2017/10/2  AM 08:33:00
14       2017/10/2  AM 11:37:00
15       2017/10/2  AM 09:00:00
16       2017/10/2  AM 09:15:00
17        2017/10/2 PM 03:05:00
18        2017/10/2 PM 01:33:00
19        2017/10/2 PM 02:48:00
20        2017/10/2 PM 05:20:00
21        2017/10/2 PM 03:07:00
22        2017/10/2 PM 05:42:00
23        2017/10/2 PM 05:32:00
24        2017/10/2 PM 12:44:00
25        2017/10/2 PM 02:36:00
26       2017/10/2  AM 10:13:00
27       2017/10/2  AM 10:50:00
28       2017/10/2  AM 11:51:00
29       2017/10/2  AM 10:09:00
                  ...
86208    2019/5/30  AM 11:02:00
86209    2019/5/30  AM 09:40:00
86210     2019/5/30 PM 11:12:00
86211    2019/5/30  AM 09:48:00
86212    2019/5/30  AM 08:27:00
86213    2019/5/30  AM 09:13:00
86214     2019/5/30 PM 10:42:00
86215    2019/5/30  AM 11:30:00
86216    2019/5/30  AM 02:57:00
86217    2019/5/30  AM 09:45:00
86218    2019/5/30  AM 09:02:00
86219    2019/5/30  AM 09:17:00
86220    2019/5/30  AM 09:43:00
86221    2019/5/30  AM 10:07:00
86222    2019/5/31  AM 10:02:00
86223    2019/5/31  AM 11:21:00
86224    2019/5/31  AM 09:20:00
86225     2019/5/31 PM 01:03:00
86226    2019/5/31  AM 08:50:00
86227    2019/5/31  AM 11:07:00
86228    2019/5/31  AM 11:07:00
86229    2019/5/31  AM 10:34:00
86230    2019/5/31  AM 09:14:00
86231    2019/5/31  AM 09:49:00
86232    2019/5/31  AM 08:55:00
86233    2019/5/31  AM 08:53:00
86234    2019/5/31  AM 09:38:00
86235    2019/5/31  AM 10:07:00
86236    2019/5/31  AM 09:52:00
86237    2019/5/31  AM 10:00:00
Name: BDATE, Length: 86238, dtype: object

In [20]:
TSmod = TSmod.str.replace('  AM',' AM')

In [29]:
TSmod.head()

0    2017/10/2 PM 03:48:00
1    2017/10/2 AM 09:27:00
2    2017/10/2 AM 10:50:00
3    2017/10/2 AM 10:11:00
4    2017/10/2 AM 10:10:00
Name: BDATE, dtype: object

In [36]:
TSmod1 = TS['EDATE'].str.replace('早上 ',' AM ')
TSmod1.head()

0      2017/10/2下午04:21:26
1    2017/10/2 AM 09:49:47
2    2017/10/2 AM 11:24:41
3    2017/10/2 AM 11:00:47
4    2017/10/2 AM 11:07:17
Name: EDATE, dtype: object

In [39]:
TSmod1 = TSmod1.str.replace('下午',' PM ')
TSmod1.head()

0    2017/10/2 PM 04:21:26
1    2017/10/2 AM 09:49:47
2    2017/10/2 AM 11:24:41
3    2017/10/2 AM 11:00:47
4    2017/10/2 AM 11:07:17
Name: EDATE, dtype: object

In [43]:
TS['BTime'] = TSmod
TS['ETime'] = TSmod1
TS.head()

,PNO,CDATE,ITEM,SEQNO,BDATE,EDATE,ORDERDR,AMOUNT,SEX,AGE,Tool ID,BTime,ETime
0,30228811,2017-10-02,79993,1060351497,2017/10/2下午03:48:00,2017/10/2下午04:21:26,4312,5035.0,F,47,105216,2017/10/2 PM 03:48:00,2017/10/2 PM 04:21:26
1,43524029,2017-10-02,79993,1060350477,2017/10/2早上 09:27:00,2017/10/2早上 09:49:47,4035,5035.0,M,65,105216,2017/10/2 AM 09:27:00,2017/10/2 AM 09:49:47
2,34436618,2017-10-02,79993,1060350704,2017/10/2早上 10:50:00,2017/10/2早上 11:24:41,4764,5035.0,M,61,105216,2017/10/2 AM 10:50:00,2017/10/2 AM 11:24:41
3,5717906,2017-10-02,79993,1060350602,2017/10/2早上 10:11:00,2017/10/2早上 11:00:47,5936,5035.0,M,83,105216,2017/10/2 AM 10:11:00,2017/10/2 AM 11:00:47
4,9556173,2017-10-02,79993,1060350598,2017/10/2早上 10:10:00,2017/10/2早上 11:07:17,4417,5035.0,F,58,105216,2017/10/2 AM 10:10:00,2017/10/2 AM 11:07:17

In [85]:
TS['BTime'] = pd.to_datetime(TS['BTime'],format='%Y/%m/%d %p %I:%M:%S')

In [86]:
TS['ETime'] = pd.to_datetime(TS['ETime'],format='%Y/%m/%d %p %I:%M:%S')

In [87]:
TS.head()

,PNO,CDATE,ITEM,SEQNO,BDATE,EDATE,ORDERDR,AMOUNT,SEX,AGE,Tool ID,BTime,ETime
0,30228811,2017-10-02,79993,1060351497,2017/10/2下午03:48:00,2017/10/2下午04:21:26,4312,5035.0,F,47,105216,2017-10-02 15:48:00,2017-10-02 16:21:26
1,43524029,2017-10-02,79993,1060350477,2017/10/2早上 09:27:00,2017/10/2早上 09:49:47,4035,5035.0,M,65,105216,2017-10-02 09:27:00,2017-10-02 09:49:47
2,34436618,2017-10-02,79993,1060350704,2017/10/2早上 10:50:00,2017/10/2早上 11:24:41,4764,5035.0,M,61,105216,2017-10-02 10:50:00,2017-10-02 11:24:41
3,5717906,2017-10-02,79993,1060350602,2017/10/2早上 10:11:00,2017/10/2早上 11:00:47,5936,5035.0,M,83,105216,2017-10-02 10:11:00,2017-10-02 11:00:47
4,9556173,2017-10-02,79993,1060350598,2017/10/2早上 10:10:00,2017/10/2早上 11:07:17,4417,5035.0,F,58,105216,2017-10-02 10:10:00,2017-10-02 11:07:17

In [83]:
TS['BTime'] = TS['BTime'].str.replace('00:00:00','AM 12:00:00')

In [84]:
TS['BTime'] = TS['BTime'].str.replace('-','/')

In [88]:
TS['Time'] = TS['ETime'] - TS['BTime']

In [95]:
TS = TS.drop(labels='BDATE',axis=1)

In [96]:
TS = TS.drop(labels='EDATE',axis=1)

In [99]:
TS.describe()

,PNO,ITEM,SEQNO,ORDERDR,AMOUNT,AGE,Time
count,8.623800e+04,86238.000000,8.623800e+04,86238.000000,86015.000000,86238.000000,86229
mean,2.903595e+07,78793.904300,1.275225e+09,4447.970964,4824.155054,58.325912,0 days 00:40:14.278073
std,1.711838e+07,3197.479232,4.033115e+08,1602.753794,1984.312291,16.713390,0 days 05:05:21.841742
min,1.001390e+05,70006.000000,1.060350e+09,176.000000,-4560.000000,0.000000,0 days 00:00:07
25%,1.421812e+07,79993.000000,1.070133e+09,4118.000000,3800.000000,49.000000,0 days 00:19:58
50%,2.919265e+07,79993.000000,1.070374e+09,4387.000000,5035.000000,60.000000,0 days 00:31:49
75%,4.572658e+07,79994.000000,1.080150e+09,5310.000000,5035.000000,69.000000,0 days 00:46:53
max,5.539517e+07,79995.000000,2.080106e+09,9999.000000,45059.000000,205.000000,28 days 00:21:34